<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  <style type="text/css" media="screen">
    #editor { 
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
          height: 400px;
      
       
    }

    .prevLineStepGutter {
  background-image: url("lightgreenarrow.png")!important;
  color:red;
}

.curPrevOverlapLineStepGutter {
  background-image: url("redgreenarrow.png");
}

}
</style>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-6">
       <div id="editor"></div>
       <button class="btn btn-primary mt-5 run ">Run</button>

       <button class="btn btn-danger mt-5 backward"><< backward</button> <button class="btn btn-danger mt-5 forward">Forward >></button>
    </div>

    <div class="col-md-6">
     

      <table class="table">
        <thead>
          <tr>
           <th>Global Frame</th>
           <th>Object</th>
          </tr>
        </thead>

        <tbody class="tableRow">
        
           
        </tbody>

      </table>
    </div>
  </div>
<div>
    
<script src="/static/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.session.setMode("ace/mode/python");
    editor.resize(true);

</script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"  ></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>



<script type="text/javascript">

var last_line=0;
var trace=[];

//current line indicator
var i=0;

$(".run").click(function(){

//last line is number of trace or length of trace

   
  $.post("http://localhost:90/run", {code: editor.getValue()}, function(result){
    console.log(result);
    
    editor.setValue(JSON.stringify(result));
   
    //total trace
    last_line=result.trace.length;

    //trace array
    trace=result.trace;
     //console.log(trace)

    // check ordered_globals[] 
     for(j=0;j<trace.length;j++){
       
     }
     
    for(var i=0;i<trace.length;i++)
    {

       //check length of ordered_globals[]
        
       //console.log(trace[i]);
       //$(".tableRow").append("<tr><td>"+trace[i].stdout+"</td></tr>");
    }
    
  });

 

  });
   

   $(".forward").click(function(){
    if(i==(last_line-1)){
      $(".forward").hide();
      return;
    }

     if(last_line!=0){
       i=i+1;
       console.log("line:"+i+"output:");
       console.log(trace[i].ordered_globals);
       console.log(trace[i].stdout);
     }

     

   });



    </script>
  </body>
</html>